nav{
   color: beige;
   font-size: larger;
   
}

div {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

div {
   float: center;
}

div a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

div a:hover {
   background-color: #9F86C0;
}